In [4]:
import pandas as pd


import pyarrow.parquet as pq
df = pq.read_table(source="data/RowData/crowd/player=1548/month=2021-6.parquet").to_pandas()
#df.info()
df

,OidColumn,AddedOnDate,Mac,RadarId,Face,AdmTypeBit,AddedOnTick,FrameOid
0,66203657913,2021-06-28,2E:AE:F2:3E:97:17,10.154.0.112,A,1,1624894244677,7516274125
1,66203668101,2021-06-28,00:0C:43:17:F1:AE,10.154.0.112,A,0,1624894248817,7516274120
2,66203670643,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,1624894247393,7516274125
3,66203672812,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,1624894247490,7516274125
4,66203672996,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,1624894247537,7516274125
...,...,...,...,...,...,...,...,...
679796,67023219702,2021-06-30,DA:A1:19:AB:DB:27,10.154.0.112,A,1,1625097384203,7545490075
679797,67023220162,2021-06-30,DA:A1:19:4A:9F:1A,10.154.0.112,A,1,1625097380907,7545490080
679798,67023220322,2021-06-30,DA:A1:19:4A:9F:1A,10.154.0.112,A,1,1625097381013,7545490080
679799,67023220411,2021-06-30,DA:A1:19:D0:25:A0,10.154.0.112,A,1,1625097381110,7545490080
679800,67023222221,2021-06-30,D8:CE:3A:E3:38:50,10.154.0.112,A,0,1625097381983,7545490080

In [16]:
import datetime

df['AddedOnTick'] = df['AddedOnTick'].apply(lambda x: datetime.timedelta(microseconds=x))
df

,OidColumn,AddedOnDate,Mac,RadarId,Face,AdmTypeBit,AddedOnTick,FrameOid
0,66203657913,2021-06-28,2E:AE:F2:3E:97:17,10.154.0.112,A,1,18 days 19:21:34.244677,7516274125
1,66203668101,2021-06-28,00:0C:43:17:F1:AE,10.154.0.112,A,0,18 days 19:21:34.248817,7516274120
2,66203670643,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,18 days 19:21:34.247393,7516274125
3,66203672812,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,18 days 19:21:34.247490,7516274125
4,66203672996,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,18 days 19:21:34.247537,7516274125
...,...,...,...,...,...,...,...,...
679796,67023219702,2021-06-30,DA:A1:19:AB:DB:27,10.154.0.112,A,1,18 days 19:24:57.384203,7545490075
679797,67023220162,2021-06-30,DA:A1:19:4A:9F:1A,10.154.0.112,A,1,18 days 19:24:57.380907,7545490080
679798,67023220322,2021-06-30,DA:A1:19:4A:9F:1A,10.154.0.112,A,1,18 days 19:24:57.381013,7545490080
679799,67023220411,2021-06-30,DA:A1:19:D0:25:A0,10.154.0.112,A,1,18 days 19:24:57.381110,7545490080
679800,67023222221,2021-06-30,D8:CE:3A:E3:38:50,10.154.0.112,A,0,18 days 19:24:57.381983,7545490080