In [6]:
!pip install pyarrow
!pip install pandas

Requirement already satisfied: pyarrow in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (5.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pyarrow) (1.19.5)

WARNING: You are using pip version 21.1.2; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2021.1)

WARNING: You are using pip version 21.1.2; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\admin\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy>=1.16.5 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [27]:
import pyarrow.parquet as pq
import datetime
import time
import numpy as np
import pandas as pd

In [8]:
df

,OidColumn,AddedOnDate,Mac,RadarId,Face,AdmTypeBit,AddedOnTick,FrameOid
0,66203657913,2021-06-28,2E:AE:F2:3E:97:17,10.154.0.112,A,1,1624894244677,7516274125
1,66203668101,2021-06-28,00:0C:43:17:F1:AE,10.154.0.112,A,0,1624894248817,7516274120
2,66203670643,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,1624894247393,7516274125
3,66203672812,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,1624894247490,7516274125
4,66203672996,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,1624894247537,7516274125
...,...,...,...,...,...,...,...,...
679796,67023219702,2021-06-30,DA:A1:19:AB:DB:27,10.154.0.112,A,1,1625097384203,7545490075
679797,67023220162,2021-06-30,DA:A1:19:4A:9F:1A,10.154.0.112,A,1,1625097380907,7545490080
679798,67023220322,2021-06-30,DA:A1:19:4A:9F:1A,10.154.0.112,A,1,1625097381013,7545490080
679799,67023220411,2021-06-30,DA:A1:19:D0:25:A0,10.154.0.112,A,1,1625097381110,7545490080
679800,67023222221,2021-06-30,D8:CE:3A:E3:38:50,10.154.0.112,A,0,1625097381983,7545490080

In [16]:
len(df["FrameOid"].unique())

36651

In [17]:
df[["FrameOid", "Mac"]].value_counts()

FrameOid    Mac
7522788736  7C:2E:DD:C6:11:05    99
7522788731  7C:2E:DD:C6:11:05    87
7526697717  04:B1:A1:00:DE:F0    81
7521458328  34:14:5F:6A:DB:03    79
7522788509  A8:81:95:1A:FB:AC    79
                                 ..
7528866318  36:D3:B9:45:12:45     1
            7A:AF:27:FF:63:DA     1
            DA:A1:19:6B:D8:89     1
            DA:A1:19:D4:F8:5A     1
7530170507  F6:5B:6E:3D:B5:0E     1
Length: 280873, dtype: int64

In [11]:
df["AdmTypeBit"].value_counts()

1    480285
0    199516
Name: AdmTypeBit, dtype: int64

In [41]:
df = pq.read_table(source="data/RowData/crowd/player=1548/month=2021-6.parquet").to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679801 entries, 0 to 679800
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   OidColumn    679801 non-null  int64
 1   AddedOnDate  679801 non-null  datetime64[ns]
 2   Mac          679801 non-null  object
 3   RadarId      679801 non-null  object
 4   Face         679801 non-null  object
 5   AdmTypeBit   679801 non-null  int32
 6   AddedOnTick  679801 non-null  int64
 7   FrameOid     678859 non-null  object
dtypes: datetime64[ns](1), int32(1), int64(2), object(4)
memory usage: 38.9+ MB

In [42]:
df['OnlyHours'] = df['AddedOnTick'].apply(lambda x: x.seconds / 3600)
df['Fixed'] = df['AddedOnTick'].apply(lambda x: time.ctime(x / 1000))
df

AttributeError: 'int' object has no attribute 'seconds'

In [9]:
def filter_hours(from_hours_f ,to_hours_f):
    return df[(df['OnlyHours'] > from_hours_f) & (df['OnlyHours'] < to_hours_f)]
    
filter_hours(19.0, 19.4)

,OidColumn,AddedOnDate,Mac,RadarId,Face,AdmTypeBit,AddedOnTick,FrameOid,OnlyHours
0,66203657913,2021-06-28,2E:AE:F2:3E:97:17,10.154.0.112,A,1,18 days 19:21:34.244677,7516274125,19.359444
1,66203668101,2021-06-28,00:0C:43:17:F1:AE,10.154.0.112,A,0,18 days 19:21:34.248817,7516274120,19.359444
2,66203670643,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,18 days 19:21:34.247393,7516274125,19.359444
3,66203672812,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,18 days 19:21:34.247490,7516274125,19.359444
4,66203672996,2021-06-28,02:00:00:00:00:00,10.154.0.112,A,1,18 days 19:21:34.247537,7516274125,19.359444
...,...,...,...,...,...,...,...,...,...
679016,66999867740,2021-06-30,DA:A1:19:F7:8F:22,10.154.0.112,A,1,18 days 19:23:53.008377,7531478084,19.398056
679018,66999887412,2021-06-30,DA:A1:19:B6:0B:BD,10.154.0.112,A,1,18 days 19:23:53.010143,7531478084,19.398056
679019,66999887508,2021-06-30,DA:A1:19:B6:0B:BD,10.154.0.112,A,1,18 days 19:23:53.010190,7531478084,19.398056
679020,66999890916,2021-06-30,00:0C:E7:43:26:70,10.154.0.112,A,1,18 days 19:23:53.009250,7531478084,19.398056
679021,66999891212,2021-06-30,18:19:D6:67:70:14,10.154.0.112,A,0,18 days 19:23:53.009377,7531478084,19.398056

In [23]:
df = pq.read_table(source="data/RowData/player_log/player=257/month=2020-11.parquet").to_pandas()
df2 = pq.read_table(source="data/RowData/player_log/player=257/month=2020-12.parquet").to_pandas()

In [33]:
df

,OidColumn,PlayerUUID,BillingDate,MediaItemName,Duration,BookingId,LogFileName,Src,MediaItemId,advertisementId,MacCountAll,MacCountStaticOnly,DateTimeInTick,DateTimeOutTick
0,5078689766,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Galaktika_stavka_3-3_Novosib_01-30 noyabr_50000,5.000000000000000000,None,CS statistics,None,NaN,24437,7,5,1604195993640,1604195998640
1,5078689784,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,14-11_NSK_nov_50000,5.000000000000000000,None,CS statistics,None,NaN,24259,7,2,1604195988640,1604195993640
2,5078689802,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Mvideo_BF_Image 2910_DBB_5s_50000,5.000000000000000000,None,CS statistics,None,NaN,24636,8,4,1604195983640,1604195988640
3,5078689820,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,MIELE_0111_Novosibirsk_50000,5.000000000000000000,None,CS statistics,None,NaN,24928,9,6,1604195978640,1604195983640
4,5078689838,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,GPB_kredit 5 9_november_DBB 5_50000,5.000000000000000000,None,CS statistics,None,NaN,24905,8,3,1604195973637,1604195978637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517442,5384942760,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-30,Mus%20TV_Disco_3x6_5sec_17.11_30.11.2020_1.mp4,5.000000000000000000,None,CS statistics,,NaN,15715,0,0,1606777478783,1606777483783
517443,5384942778,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-30,Mus%20TV_Disco_3x6_5sec_17.11_30.11.2020_1.mp4,5.000000000000000000,None,CS statistics,,NaN,33115,4,2,1606777473773,1606777478773
517444,5384942797,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-30,Mus%20TV_Disco_3x6_5sec_17.11_30.11.2020_1.mp4,5.000000000000000000,None,CS statistics,,NaN,15715,2,0,1606777468757,1606777473757
517445,5384942815,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-30,Galereya_Novosibirsk_Volshebnyy shoping_50000,5.000000000000000000,None,CS statistics,None,NaN,32707,1,0,1606777463743,1606777468743
517446,5384942833,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-30,GALAKTIKA_3visokotehnolog_Novosibirsk_01-31dek...,5.000000000000000000,None,CS statistics,None,NaN,32559,3,1,1606777458737,1606777463737

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517447 entries, 0 to 517446
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   OidColumn           517447 non-null  object
 1   PlayerUUID          517447 non-null  object
 2   BillingDate         517447 non-null  datetime64[ns]
 3   MediaItemName       517447 non-null  object
 4   Duration            517447 non-null  object
 5   BookingId           49611 non-null   object
 6   LogFileName         517447 non-null  object
 7   Src                 95091 non-null   object
 8   MediaItemId         49611 non-null   float64
 9   advertisementId     517447 non-null  int32
 10  MacCountAll         517447 non-null  int64
 11  MacCountStaticOnly  517447 non-null  int64
 12  DateTimeInTick      517447 non-null  int64
 13  DateTimeOutTick     517447 non-null  int64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(4), object(7)
memory usage: 53.3+ MB

In [34]:
df2

,OidColumn,PlayerUUID,BillingDate,MediaItemName,Duration,BookingId,LogFileName,Src,MediaItemId,advertisementId,MacCountAll,MacCountStaticOnly,DateTimeInTick,DateTimeOutTick
0,5377222318,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-01,Mus%20TV_Disco_3x6_5sec_17.11_30.11.2020_1.mp4,5.000000000000000000,None,CS statistics,,NaN,15715,18,7,1606787989933,1606787994933
1,5377222334,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-01,Mvideo_CBik_IMAGE_DBB_5s_50000,5.000000000000000000,None,CS statistics,None,NaN,33274,12,4,1606787984927,1606787989927
2,5377222350,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-01,GALAKTIKA_3visokotehnolog_Novosibirsk_01-31dek...,5.000000000000000000,None,CS statistics,None,NaN,32559,16,5,1606787979920,1606787984920
3,5377222366,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-01,Mus%20TV_Disco_3x6_5sec_17.11_30.11.2020_1.mp4,5.000000000000000000,None,CS statistics,,NaN,33115,13,3,1606787974913,1606787979913
4,5377222382,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-01,Galereya_Novosibirsk_Volshebnyy shoping_50000,5.000000000000000000,None,CS statistics,None,NaN,32707,14,3,1606787969910,1606787974910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526602,5698885457,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,IVI_Chumovoi_novii_god_1440x720_Billboard_50000,5.000000000000000000,None,CS statistics,None,NaN,40805,2,1,1609455626050,1609455631050
526603,5698885475,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,Disney_volshebstvo_Elsa_3x6_5sec_19.12_10.01.2...,5.000000000000000000,None,CS statistics,None,NaN,40198,9,2,1609455621047,1609455626047
526604,5698885493,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,Radio_dacha_popadi_v_cel_3x6_5sec_01.01_31.01....,5.000000000000000000,None,CS statistics,None,NaN,40245,6,4,1609455616037,1609455621037
526605,5698885510,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,Extreme fitness_01-30 yanvar_50000,5.000000000000000000,None,CS statistics,None,NaN,39645,7,1,1609455611030,1609455616030
526606,5698885526,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,Novyy_god_Novosibirsk_5_dec_50000,5.000000000000000000,None,CS statistics,None,NaN,40386,5,3,1609455606023,1609455611023

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526607 entries, 0 to 526606
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   OidColumn           526607 non-null  object
 1   PlayerUUID          526607 non-null  object
 2   BillingDate         526607 non-null  datetime64[ns]
 3   MediaItemName       526607 non-null  object
 4   Duration            526607 non-null  object
 5   BookingId           7249 non-null    object
 6   LogFileName         526607 non-null  object
 7   Src                 53858 non-null   object
 8   MediaItemId         7249 non-null    float64
 9   advertisementId     526607 non-null  int32
 10  MacCountAll         526607 non-null  int64
 11  MacCountStaticOnly  526607 non-null  int64
 12  DateTimeInTick      526607 non-null  int64
 13  DateTimeOutTick     526607 non-null  int64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(4), object(7)
memory usage: 54.2+ MB

In [36]:
df3 = pd.concat([df, df2])

In [37]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044054 entries, 0 to 526606
Data columns (total 14 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   OidColumn           1044054 non-null  object
 1   PlayerUUID          1044054 non-null  object
 2   BillingDate         1044054 non-null  datetime64[ns]
 3   MediaItemName       1044054 non-null  object
 4   Duration            1044054 non-null  object
 5   BookingId           56860 non-null    object
 6   LogFileName         1044054 non-null  object
 7   Src                 148949 non-null   object
 8   MediaItemId         56860 non-null    float64
 9   advertisementId     1044054 non-null  int32
 10  MacCountAll         1044054 non-null  int64
 11  MacCountStaticOnly  1044054 non-null  int64
 12  DateTimeInTick      1044054 non-null  int64
 13  DateTimeOutTick     1044054 non-null  int64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(4), object(7)
memory usage: 115.5+ MB

In [39]:
df3

,OidColumn,PlayerUUID,BillingDate,MediaItemName,Duration,BookingId,LogFileName,Src,MediaItemId,advertisementId,MacCountAll,MacCountStaticOnly,DateTimeInTick,DateTimeOutTick
0,5078689766,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Galaktika_stavka_3-3_Novosib_01-30 noyabr_50000,5.000000000000000000,None,CS statistics,None,NaN,24437,7,5,1604195993640,1604195998640
1,5078689784,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,14-11_NSK_nov_50000,5.000000000000000000,None,CS statistics,None,NaN,24259,7,2,1604195988640,1604195993640
2,5078689802,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,Mvideo_BF_Image 2910_DBB_5s_50000,5.000000000000000000,None,CS statistics,None,NaN,24636,8,4,1604195983640,1604195988640
3,5078689820,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,MIELE_0111_Novosibirsk_50000,5.000000000000000000,None,CS statistics,None,NaN,24928,9,6,1604195978640,1604195983640
4,5078689838,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-11-01,GPB_kredit 5 9_november_DBB 5_50000,5.000000000000000000,None,CS statistics,None,NaN,24905,8,3,1604195973637,1604195978637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526602,5698885457,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,IVI_Chumovoi_novii_god_1440x720_Billboard_50000,5.000000000000000000,None,CS statistics,None,NaN,40805,2,1,1609455626050,1609455631050
526603,5698885475,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,Disney_volshebstvo_Elsa_3x6_5sec_19.12_10.01.2...,5.000000000000000000,None,CS statistics,None,NaN,40198,9,2,1609455621047,1609455626047
526604,5698885493,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,Radio_dacha_popadi_v_cel_3x6_5sec_01.01_31.01....,5.000000000000000000,None,CS statistics,None,NaN,40245,6,4,1609455616037,1609455621037
526605,5698885510,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,Extreme fitness_01-30 yanvar_50000,5.000000000000000000,None,CS statistics,None,NaN,39645,7,1,1609455611030,1609455616030
526606,5698885526,c5a14b5d-527c-4930-8a78-3cf9863381d5,2020-12-31,Novyy_god_Novosibirsk_5_dec_50000,5.000000000000000000,None,CS statistics,None,NaN,40386,5,3,1609455606023,1609455611023